<div>
  <input type="text" [(ngModel)]="searchedUser" (keypress)="clear()" />
</div>
<div>
  <ul *ngIf="users">
    <li *ngFor="let user of (users | search: searchedUser)">
      <button (click)="showData(user.name)">{{ user.name }}</button>
    </li>
  </ul>
</div>
<ng-template [ngIf]="selectedUser">
  <div>
    <p>{{ selectedUser.name }}</p>
  </div>
  <div>
    <p>{{ selectedUser.id }}</p>
    <div>
      <img [src]="selectedUser._links.avatar.href" alt="" />
    </div>
  </div>
</ng-template>
